body {
    background-color: #d9d9d9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 1.05em;
}
.button {
    padding: .5em .5em;
    margin: .5em;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: #696969;
    border: none;
    border-radius: .5em;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #205881;
}
nav {
    position: fixed;
    overflow: auto;
    background-color: #532E14;
    top: 0; 
    left: 0;
    padding: 2em 1%;
    width: 100%; 
    }
section {
    margin-top: 65%;
    z-index: 50;
}
img {
    width: 100%;
}
section {
    display:block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
}
h3 {
    text-align: center;
}
footer {
    overflow: auto;
    background-color: #532E14;
    top: 0; 
    right: 0;
    padding: .4em 1%;
    width: 100%; 
    margin-top: 55%;
    margin-left: 0px;
    }
    @media only screen and (min-width: 700px) {
        nav {
            position: fixed;
            overflow: auto;
            background-color: #532E14;
            top: 0; 
            left: 0;
            padding: 2em 1%;
            height: 100%; 
            width: 4.8%;
            }
        nav {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .button {
            padding: .5em .5em;
            margin: .5em;
            font-size: 20px;
            text-decoration: none;
            color: white;
            background-color: #696969;
            border: none;
            border-radius: .5em;
            text-align: center;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .container {
            max-width: 75%;
        }
        section {
            margin-top: 0%;
            padding-left: 10em;
            z-index: 50;
        }
        img {
            width: 100%;
        }
        section {
            display:block;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 30%;
        }
         footer {
                display: flex;
                overflow: auto;
                background-color: #532E14;
                top: 0; 
                right: 0;
                padding: .4em 0%;
                width: 100%; 
                padding-left: 50%;
                }
        footer a {
            display: flex;
            justify-content: center;
            align-items: end;
        }
            
            }